<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Order</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
</head>
<body>
    
    <form method="post">
      <h1>Rendelés adatai:</h1>
      Név:
      <input type="text" name="name" value="<%= data.name %>" required><br>
      <h4>Számlázási cím:</h4>
      Ország:
      <input type="text" name="szamOrsz" value="<%= data.szamOrsz %>" required><br>
      Irányító szám:
      <input type="number" name="szamIr" value="<%= data.szamIr %>" required><br>
      Város:
      <input type="text" name="szamVar" value="<%= data.szamVar %>" required><br>
      Utca és házszám:
      <input type="text" name="szamUtca" value="<%= data.szamUtca %>" required><br>
      <h4>Szállítási cím:</h4>
      Ország:
      <input type="text" name="szalOrsz" value="<%= data.szalOrsz %>" required><br>
      Irányító szám:
      <input type="number" name="szalIr" value="<%= data.szalIr %>" required><br>
      Város:
      <input type="text" name="szalVar" value="<%= data.szalVar %>" required><br>
      Utca és házszám:
      <input type="text" name="szalUtca" value="<%= data.szalUtca %>" required><br>


      Kupon:
      <input type="text" name="kupon" value="<%= data.kupon %>"><br>

      <h4>Fizetés:</h4>
      Bankkártya szám:
      <input type="text" name="cardNum" value="<%= data.cardNum %>" required><br>
      Lejárat:
      <input type="text" name="cardDate" value="<%= data.cardDate %>" required><br>
      Biztonsági kód:
      <input type="password" name="cardCvc" value="<%= data.cardCvc %>" required><br>
      
      <% for (let e of errors){%>
        <p style="color: red;"><%=e%></p>
        <%}%>
      
      



      <input type="submit" value="Elküld!">


    </form>
</body>
</html>
